@use "sass:math";

//variables
//-------themeColors-------------
$primary: #326dee;
$secondary: #1ac888;
$error: #d32752;
$info: #f6c31c;

//----------color-palette
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "blue": blue,
  "red": red,
  "white": white,
  "black": black,
);

// @debug map-get($colors, "error");
// @debug map-has-key($colors, "error");
// @debug map-merge($colors, ("error":$error));
// @debug map-remove($colors, "error");

//------spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

//---------borders
$base-border-thickness: 1px;
$base-border-radius: 20px;
$border-radius: math.div($base-border-radius, 4);

//box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

//font size
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;

$font-size: (
  "sm": $font-size-sm,
  "m": $base-font-size,
  "lg": $font-size-lg,
  "xl": $font-size-xl,
  "xxl": $font-size-xxl,
);

@each $key, $value in $font-size {
  .font-size-#{$key} {
    font-size: $value;
  }
}

//DRG-----styles
$text-center: center;

//for debugging some of the mathematical calculations
// @debug "";
