@mixin btn($bg-color: #e2e2e2, $bg-hover-color: black) {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: $base-padding $base-padding * 2;
  border-radius: $base-border-radius;
  background-color: $bg-color;
  &:hover {
    background-color: $bg-hover-color;
    cursor: pointer;
    color: white;
  }
}

.btn {
  @include btn();
}

@each $key, $val in $colors {
  .btn-#{$key} {
    @include btn($val, darken($val, 25%));
  }
  .btn-outlined-#{$key} {
    @include btn(#fff, $val);
    border: $base-border-thickness solid $val;
    color: $val;
  }
  .btn-compliment-#{$key} {
    @include btn($val, light-comp($val));
  }
}
